@model List<Nadroga_Arya_College.Models.regcode>
@{
    ViewBag.Title = "pinList";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Administrative Page</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="~/AdminLibrary/default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />

    <style type="text/css">
        table tr td a {
            text-decoration: none;
            color: #0066FF;
        }

            table tr td a:hover {
                text-decoration: underline;
                color: blue;
            }

        table {
            color: black;
        }

        .pr a {
            color: blue;
            text-decoration: none;
        }

            .pr a:hover {
                text-decoration: underline;
                color: #000099;
            }

        table tr th {
            background-color: black;
            color: white;
        }

        .tot {
            widows: 100$;
            height: auto;
            text-align: center;
            padding: 2px;
            border: 1px solid none;
            box-shadow: 4px 6px 40px black;
        }

        .now {
            font-size: 70px;
            text-align: center;
            font-weight: bold;
        }

        .tot1 {
            widows: 100$;
            height: auto;
            text-align: center;
            padding: 2px;
            border: 1px solid none;
            box-shadow: 4px 6px 40px black;
        }

        .now1 {
            font-size: 70px;
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div id="header">
        <div id="logo">
            <h1><a href="#" style="font-family:impact; font-size:27px;">2021/2022 Exam</a></h1>
            <h2><a href="#" style="font-size:13px;">Nadroga Arya COLLEGE</a></h2>
        </div>
        <div id="menu">
            <ul>
                <li class="first"><a style="font-size:15px; color:blue;" href="@Url.Action("Index","Admin")" title=""><---Back</a></li>
            </ul>
        </div>
        <div id="ad468x60"><a href="#"><img src="~/AdminLibrary/images/ad468x60.jpg" alt="" width="468" height="60" /></a></div>
    </div>
    <div id="page">
        <div id="content">
            <div class="boxed" style="font-size:20px;">
                <h1 class="heading" style="font-size:18px;">Welcome...You are....<span style="color:red;">Admin</span></h1>





                <div class="pr" align="right"><a href="javascript:window.print()">Print Generated Pins</a></div>


                <div style="margin:auto;width:90%;height:auto;box-shadow:3px 3px 3px 6px #CCCCCC;text-align:left; margin-top:10px; padding:10px;">
                    <span style="font-size:19px; color:black;">LIST OF <span style="color:RED;"></span> REGISTRATION PINS <b>(For Sale)</b></span>

                    <table style="text-align:center" border="1px" width="100%" cellpadding="5px" cellspacing="0px">
                        <tr>
                            <th>Id</th>
                            <th>Code</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.code</td>
                        <td>@item.status</td>
                        <td><a class="btn btn-danger" href="@Url.Action("DeleteD","Admin", new {id=@item.id })"><i class='fas fa-trash'></i></a></td>
                    </tr>
                        }
                    </table>

              
                </div>





            </div>
        </div>
        <!-- end #content -->
        <!-- end #sidebar -->
    </div>
    <!-- end #page -->
    <div style="clear: both;">&nbsp;</div>
    <div id="footer">
        <p id="legal" style="font-size:16px;">Copyright &copy;Nadroga Arya COLLEGE Portal</p>
        <p id="links" style="font-size:16px;"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
    </div>
</body>
</html>